<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashi.ashi.cross_code">
<uses-permission android:name="android.permission.INTERNET">
</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ashi.ashi.cross_code.first"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ashi.ashi.cross_code.Login"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ashi.ashi.cross_code.Rules"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.ashi.ashi.cross_code.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.ashi.ashi.cross_code.result"
            android:screenOrientation="portrait"/>
    </application>
</manifest>